@import url(/reset.css);

//공통속성-------------------------------------------------
* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-c {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.flex-d {
    flex-direction: column;
}

.space-e {
    justify-content: space-evenly;
}

.space-b {
    justify-content: space-between;
}

.purple{color: #6335e6;}
//container----------------------------------------------------
ul{background-color: #f8f8f8;}

//mobile------------------------------------
@media screen and (max-width:750px) {
    .container {
        .inner {
            width: 100%;

            .main {
                width: inherit;
                h1{padding: 20px;font-weight: bolder;font-size: 40px;}
                p{padding: 15px;font-size: 20px;font-weight: bold;}
            }

            .sub {
                width: inherit;

                .content {
                    .menu {
                        .banner {
                            padding: 10px;
                            border-bottom: 1px solid #ddd;
                            img {
                                width: 67px;
                                height: 67px;
                            }
                            a{border: 1px solid #ddd;padding: 20px;}
                        }

                        ul {
                            border: 1px solid #000;
                            padding: 10px;
                            // display: none;
                            li{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}